version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: postgres-db-random-forest
    restart: always
    environment:
      POSTGRES_USER: adminRF
      POSTGRES_PASSWORD: xpto
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:  